.pagina-eventos{


.secao{

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.cabecalho{
display: flex;

.voltar{

margin-top: 10px;
margin-right: 10px;

}

}

.grupo{
display: flex;
align-items: center;
gap: 10px;

input{

    min-width: auto;
}


}



}